.navbar {
  box-shadow: 0 3px 6px rgba(0, 0, 0, .1);
  font-weight: 500;
  background: $cDefaultBg;
  padding-top: 8px;
  padding-bottom: 4px;
  margin-bottom: 40px;

  @media (max-width: 992px) {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }

  &__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__link {
    text-decoration: none;
    position: relative;
  }

  .logo {
    width: 50px;
  }

  .count {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 4px;
    color: $cGray;

    &._active {
      color: $cRed;
    }
  }
}